%h2 Projects
%a( ui-sref='projects.new' )
  .btn.btn-success New Project
%div( ui-view='project' )
%div( ng-if='projects' )
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %td Title
        %td Owner #
        %td Tasks
        %td Timeline
        %td Actions
    %tbody
      %tr( ng-repeat='project in projects' )
        %td {{ project.title }}
        %td {{ project.ownerId }}
        %td
          %a( ui-sref='projects.tasks({projectId: {{project.id}} })' )
            .btn.btn-primary Taks
        %td
          %a( ng-if='isManagable(project)' ui-sref='project.timeline({projectId: {{project.id}} })' )
            .btn.btn-primary Timeline
        %td
          .btn.btn-info( ui-sref='project({projectId: {{project.id}} })' ) Details
          .btn.btn-danger( ng-if='isManagable(project)' ng-click='deleteProject(project)' ) Destroy
%div( ui-view='tasks' )
