%div( ui-view )
  %div( ng-if='project' )
    %h2 {{ project.title }}
    %table.table.table-responsive
      %thead
        %td Description
        %td Owner #
        %td Private
        %td( ng-if='currentUser.isMember' ) Tasks
        %td( ng-if='currentUser.isOwner' ) Actions
      %tr
        %td( ng-if='project.description')
          {{ project.description }}
        %td( ng-if='!project.description')
          No description given
        %td {{ project.ownerId }}
        %td {{ project.private }}
        %td( ng-if='currentUser.isMember' )
          %a( ui-sref='project.tasks' )
            .btn.btn-primary.btn-sm Edit Tasks
        %td( ng-if='currentUser.isOwner' )
          %a( ui-sref='project.edit' )
            .btn.btn-success.btn-sm Edit
          .btn.btn-danger.btn-sm( ng-click='delete()' ) Destroy
    %div
      %h4 Members of a project:
      %p( ng-hide='members' ) There is no members except owner
      %div( ng-if='members' )
        %ul( ng-repeat='member in members')
          %li
            {{ member.email }}
            %a( ng-if='currentUser.isOwner' ng-click='removeMember(member.id)' ) 
              .btn.btn-sm.btn-default.small-caps X
      .input-group( ng-if='currentUser.isOwner' )
        %select.form-control( ng-model="selected" ng-options="user.email for user in usersForInvite" )
        .input-group-addon.btn-like( ng-click='addMember(selected.id)' ) invite
