%h4 Timeline of the project

%ol.breadcrumb
  %li
    %a( ng-click='getLastWeekTimeline()' ) last week
  %li
    %a( ng-click='getLastMonthTimeline()' ) last month
  %li
    %a( ng-click='openModal()' ) select interval

%h5( ng-hide='dates.length > 1' ) No one tracked time on this time interval

%table.table.table-bordered.table-striped( ng-if='dates.length > 1' )
  %td( ng-repeat='data in dates track by $index' ) {{ data | date: 'dd/MM/yyyy' }}
  %tr( ng-repeat='row in tracks track by $index' )
    %td( ng-repeat='data in row track by $index' ) {{ data | secondsToTime }}
