%form.form-horizontal(role='form')
  .form-group
    %label.col-sm-4.control-label{:for => "inputEmail"} Email
    .col-sm-4
      %input#inputEmail.form-control{"ng-model" => "user.email", :placeholder => "Email", :type => "text"}/
  .form-group
    %label.col-sm-4.control-label{:for => "inputPassword"} Password
    .col-sm-4
      %input#inputPassword.form-control{"ng-model" => "user.password", :placeholder => "Password", :type => "password"}/
  .form-group
    .col-sm-offset-4.col-sm-10
      %button.btn.btn-default{"ng-click" => "logIn(user.email, user.password)", :type => "submit"} Log In
      %a( ui-sref='sign_up' )
        %button.btn.btn-default Sign Up