.modal-header
  %h3.modal-title New Timetrack
.modal-body
  %div( ng-if='timetracks.length > 0' )
    %h4 Tracked time
    %table.table
      %tr
        %td Amount
        %td Start date
        %td Actions
      %tr( ng-repeat='timetrack in timetracks' )
        %td
          %input.form-control.min-width-120( type='text' ng-model='timetrack.amount' humanized-amount )
        %td
          %datetimepicker-dropdown( time-model="timetrack.startDate" config='{minView: "day"}' date-formatting='dd/MM/yyyy' )
        %td
          .btn.btn-danger( ng-click='deleteTimetrack(timetrack)' ) Destroy
  %h4 Track new time
  %form( name="form" novalidate )
    .form-inline
      .form-group
        .input-group
          .input-group-addon Amount
          %input.form-control( type='text' placeholder='1d 10h 20m 10s' ng-model='timetrack.amount' humanized-amount )
      %datetimepicker-dropdown( time-model="timetrack.startDate" config='{minView: "day"}' date-formatting='dd/MM/yyyy' )
      .btn.btn-success( ng-click='addTimetrack(form)' ) Add
    %br
      %textarea#inputComment.form-control( placeholder='Have some thoughts?' ng-model='comment.body' )
.modal-footer
  %button.btn.btn-success( ng-click='save()' ) Save
  %button.btn.btn-warning( ng-click='cancel()' ) Cancel
