.modal-header
  %h3.modal-title New Task
.modal-body
  %form.form-horizontal(name="taskForm" novalidate)
    .form-group
      %label.col-sm-4.control-label( for='inputTitle' ) Title
      .col-sm-6
        %input#inputTitle.form-control( type='text' placeholder='Title of the task' ng-model='task.title' validation-field-required="true" )
    .form-group
      %label.col-sm-4.control-label( for='inputDesc' ) Description
      .col-sm-6
        %textarea#inputDesc.form-control( placeholder='Description of the task' ng-model='task.description' validation-field-required="false" )
    .form-group
      %label.col-sm-4.control-label( for='estimatedTime' ) Estimated time
      .col-sm-6
        %datetimepicker-dropdown( time-model="task.estimatedTime" config="{minView: 'minute'}" date-formatting='dd/MM/yyyy hh:mm')
    .form-group
      %label.col-sm-4.control-label( for='deadline' ) Deadline
      .col-sm-6
        %datetimepicker-dropdown( time-model="task.deadline" config="{minView: 'minute'}" date-formatting='dd/MM/yyyy hh:mm' )
.modal-footer
  %button.btn.btn-success( ng-click='save(taskForm)' ) Save
  %button.btn.btn-warning( ng-click='cancel()' ) Cancel
