.form-group
  .dropdown
    %a.dropdown-toggle( data-target="#" data-toggle="dropdown" href="#" role="button" )
      .input-group
        .input-group-addon
          %span( ng-if='addon' ) {{ addon }}
          %span.glyphicon.glyphicon-calendar( ng-hide='addon' )
        %input.form-control( type='text' placeholder="{{ timeModel | date: dateFormatting}}" disabled='true' )
    %ul.dropdown-menu( aria-labelledby="dLabel" role="menu" )
      %datetimepicker( data-datetimepicker-config="{{config}}" ng-model="timeModel" )