!!!
%html(ng-app='visualizr')
  %head
    %title Visualizr
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      = yield
